

body{
    background-color: #bf8080;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#mainHeading{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.userName{
    position: absolute;
    bottom: 0;
    align-items: center;
    text-align: left;
    margin: 10px;
    display: inline-block;
    left: 0;
}

.userName p{
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 20px;
}

#change_username{
    font-size: 14px;
    font-weight: bold;
    color: #fff; /* Change text color to white */
    background-color: rgb(120, 193, 123); /* Add a background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 20px; /* Add some padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s; /* Add a transition effect */
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#change_username:hover {
    background-color: #4d8a35; /* Change the background color when hovered */
    color: white; /* Change the text color when hovered */
}