
doctype html
html
    head
        title My Title
        script(src="/socket.io/socket.io.js")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="chat.js")

    body
        h1 Hello, world!
        p This is a very basic Pug file.
        button#username Change Username
        p#chatroom CHATROOM
        input#message(type="text", placeholder="Enter your text here")
        button#send_message Send Message
    
        